nav{
  background-color: black;
  height: 45px;
  color: white;

}

.navItems li {
  list-style-type: none;
  margin: 3px;
  display: inline-block;
  margin-top: 10px;
  padding-right: 15px;

}

.user-options{
  float: right;
 

}

form {
  margin:auto;
  width: 30%;
}
.card-header{
  color: rgb(156, 55, 55);
  font-size: 12px;

}

.price{
  float: right;
  margin-right: 8px;
}

.phone{
  float: left;
  margin-left: 3px;
  font-weight: bold;
}

.description{
  margin: 3px;
}

.app-name{
  font-weight: bold;
}

.navItems li a {
  color: #fff;
}